* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.blue {
  background-color: #2a2d57;
}

.green {
  background-color: #6ebf50;
}

.red {
  background: #ed3437;
}

.yellow {
  background-color: #fab32f;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  width: 700px;
  height: 60vh;
  /* background-color: white; */
  display: grid;
  grid-template-columns: 20fr 15fr 15fr 20fr;
  grid-template-rows: repeat(3, 1fr);

  gap: 10px;
}

.child1{
  grid-area: 1/1/-1/2;
}

.child2{
  grid-area: 1/2/2/-2;
}

.child3{
  grid-area: 2/2/3/3;
}
.child4{
  grid-area: 2/3/3/4;
}