* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.gray {
  background-color: #6e645f;
}

.green {
  background-color: #74d6b7;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  width: 50vw;
  height: 55vh;
  display: flex;
  gap: 20px;
}

.parent > .block1 {
  flex: 45;

  position: relative;
}

.parent>.block1>h1{
  color: #6e645f;
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: 400;
}



.parent > .block2 {
  flex: 55;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.parent > .block2 > div {
  flex: 1;
}

.parent>.block2>.innerBlock2{
  display: flex;
  gap: 15px;
}

.parent>.block2>.innerBlock2>div{
  flex: 1;
}
