* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #2a2d57;

  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  width: 700px;
  height: 350px;

  display: flex;
  gap: 10px;
}

.child1 {
  flex: 3;
  background-color: #6ebf50;
}

.child2 {
  flex: 5;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.child2>.grand-child1{
  height: 100px;
  background-color: #6ebf50;

}


.child2>.grand-child2{
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.child2>.grand-child2>.row{
  flex: 1;


  display: flex;
  gap: 10px;

}

.child2>.grand-child2>.row>.cont{
  flex: 1;
  height: 100%;

}

.red{
  background: #ed3437;
}

.yellow{
  background-color: #fab32f;
}




.child3 {
  flex: 3;
  background-color: aqua;
}
